<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
    
</head>

<body>
    <div id='app'>
        <div v-for='item in food'>
            {{item.name}}
        </div>
        <div v-for='item in filterFood'>
            {{item.name}}
        </div>
    </div>

    <script type="text/javascript">


        var app = new Vue({
            el: '#app',
            data: {
                food: [
                    {name: '青椒肉丝'},
                    {name: '土豆丝'},
                    {name: '西红柿鸡蛋'},
                ]

            },
            computed: {
                filterFood: function () {
                    let nums = this.food;

                    let res = nums.filter((item) => {
                        console.log(item.name == '土豆丝')
                        return item.name == '土豆丝';
                    });
                    console.log(res)
                    return res
                }
            }
        })
    </script>
</body>

</html>